body {
    background-color:powerblue;
}

h1 { 
    color: green;
    font-family: verdana;
    font-size: 24px;
}

P {
   color: red;
   font-family: ariel;
   font-size: 14px;
}



